/* CSS Style */

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

div.grid:hover {
  background-color: black;
}

* {
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

h1 {
    padding: 10px;
    font-size: 24px;
    border: 1;
}

.hcenter {
  text-align: center;  
}

.blackFill {
  background-color: black;
}

#grid-container {
  display: grid;
  justify-content: center;
  align-content: center;
  border-color: green;
}

footer {
  display: flex;
  flex-direction: row-reverse;
  background-color: #333;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}